In [1]:
import os
from dotenv import load_dotenv
from big_query import UniswapV3Data
load_dotenv()

True

In [2]:
univ3_data = UniswapV3Data(path='./data/', project_id=os.getenv("PROJECT_ID"), key_path=os.getenv("KEY_PATH"))

In [4]:
ETH_USDC_ADDRESS = "0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8"
swap_data = univ3_data.get_swap_data(address=ETH_USDC_ADDRESS, download_latest=False)

In [5]:
swap_data.head()

,block_timestamp,block_number,transaction_hash,log_index,contract_address,sender,recipient,amount0,amount1,sqrtPriceX96,liquidity,tick
0,2021-05-05 01:56:23+00:00,12371376,0xce7c3c307d820785caa12938012372fc9366a614a6aa...,26,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,0xe592427a0aece92de3edee1f18e0157c05861564,0x5eefc9306f11a824762ccdaedac41049efc7fcc8,-329608,100000000000000,1377932816571815120446551350158799,4303369674465501,195285
1,2021-05-05 08:23:26+00:00,12373132,0x9a1c51b0bffbf840948f3b6e3f3e495ba1cd3fa64854...,192,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,0xe592427a0aece92de3edee1f18e0157c05861564,0xe592427a0aece92de3edee1f18e0157c05861564,-164694492,50000000000000000,1378850591292581266780357299649652,4303369674465501,195298
2,2021-05-05 09:50:51+00:00,12373520,0xc58715c62a5bf70a6ca09f0e51546d6cad76c8d4fff0...,8,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,0xe592427a0aece92de3edee1f18e0157c05861564,0xfb36693ac2dbe8dfc9f89dd0de6015c6ea66b0bf,-329169,100000000000000,1378852426842022799073024911548633,4303369674465501,195298
3,2021-05-05 11:59:57+00:00,12374077,0x288c21b8b4fbf449b1d086a06e43b124ac2bc088c3f5...,86,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,0xe592427a0aece92de3edee1f18e0157c05861564,0xfb36693ac2dbe8dfc9f89dd0de6015c6ea66b0bf,2,-329169,1378852426842016741051966412054516,4304946248093346,195298
4,2021-05-05 12:56:56+00:00,12374320,0x67502d8ba373287f6d301f6baa77c5a5f4c80d0753c3...,257,0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8,0xe592427a0aece92de3edee1f18e0157c05861564,0x22f9dcf4647084d6c31b2765f6910cd85c178c18,1559137299,-467880854065813753,1370241555019945317645788135487819,4304946248093346,195173

In [6]:
start_block, end_block = swap_data.block_number.iloc[0], swap_data.block_number.iloc[-1] 
gas_price = univ3_data.get_gas_data(start_block, end_block)

In [7]:
gas_price.head()

      gas_price  block_number
0  1.679793e+11      13542166
1  1.601199e+11      13542165
2  1.749445e+11      13542164
3  1.649723e+11      13542163
4  1.630998e+11      13542162